h1 {
	color: #ff8080 ;
	margin: 15px ;
}

h2 {
	color: #ff8080 ;
	margin: 15px
}

p {
	color: #80ffff ;
}

#nav {
	border: 5px dotted salmon ;
	margin: 10px 20px 20px 10px ;
	padding: 5px
}

#nav a {
	color: #d98cb3 ;
	text-decoration: none;
}